[flake8]
ignore =
    D100,D101,D102,D103,D104,D105,W504
max-line-length = 80
exclude = .*/,__pycache__,build,doc,env,*.py[cod]
max-complexity = 10
statistics = True
count = True
format = ${cyan}%(path)s${reset}:${yellow_bold}%(row)d${reset}:${green_bold}%(col)d${reset}: ${red_bold}%(code)s${reset} %(text)s
import-order-style = appnexus
application-import-names = c11h.dataclassutils
application-package-names = c11h
